html,body,section{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

div{
  display: block;
}

ul{
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

i{
  padding-left: 15px;
}

.navbar{
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgba(27, 27, 27, 0.7);
  z-index: 9997;
}

.navbar-fixed-top{
  position: fixed !important;
  top: 0px;
  left: 0px;
  bottom: inherit;
  background-color: rgba(27, 27, 27, 0.8);
}

.navbar li{
  display:inline-block !important;
  padding: 9px 18px ;
}

.navbar li a{
  font: 300 17px/1.8 Lato, sans-serif;
  color: #fff;
  text-decoration: none;
  cursor: default;
  text-transform: uppercase;;
}

.navbar li a:hover{
  color: #3bcce4;
  padding-top: 10px;
  border-top: 6px solid #3bcce4;
}

.navbar .active a{
  color: #3bcce4;
  padding-top: 10px;
  border-top: 6px solid #3bcce4;
}

.loader-wrapper{
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width:100%;
  height: 100%;
  z-index: 9998;
  background:#fff;
}

.loader{
  position: fixed;
  left: 45%;
  top: 35%;
  z-index: 9999;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3bcce4;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
/*posts css for the "HOME" page*/
.post-intro{
  background:#fff;
  padding:1.8em;
}

#post-title{
  font-size:1.9em;
  color:#00bcd4;
  margin-right:0.7em;
  display:inline-block;
  text-decoration:none;
  text-transform: uppercase;;
  font-family: 'Lato', sans-serif;
  font-weight:400;
}
#post-title:hover{
  color: #4a5054;
}
#post-details{
  color:#afafaf;
  font-family: 'Roboto', sans-serif;
  font-size:0.8em;
  margin-bottom:1em;
  cursor: default;
}
#post-details:hover{
  color:#777;
}
.post-intro p{
  font-family: 'Roboto', sans-serif;
  color:#666;
  font-size:1em;
  line-height:1.5em;
  margin-bottom:1em;
}
.post-intro a span {
  background: url("../images/arrow.png") no-repeat 0px 4px;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 6px;
}
.post-intro a {
  color: #626465;
  font-weight: 400;
  font-size: 1em;
  display: inline-block;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.post-intro a:hover{
  color:#00bcd4;
}

.content-grid-info{
  z-index: 0;
  width:70%;
  margin: auto;
  position: relative;
  margin-bottom: 3em;
}

/*-----Shadow effect-----*/
.post-intro:before, .post-intro:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.post-intro:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
/*----------*/

.container{
  width:70%;
  margin: auto;
}

.container-authors{
  width:70%;
  margin: auto;
  margin-top: 5.5em;
}

.heading{
  font-size:2.2em;
  color:#3bcce4;
  margin-right:0.7em;
  margin-bottom: 0.5em;
  font-family: 'Lato', sans-serif;
  font-weight:400;
}


.about-us, .inner-container{
  background:#fff;
  padding:1.8em;
  position: relative;
  margin-bottom: 2em;
}

.about-us p{
  font-family: 'Roboto', sans-serif;
  color:#333;
  text-align: justify;
  text-align-last: left;
  font-size:1.5em;
  font-weight: 300;
  line-height:1.4em;
  margin-bottom:1.5em;
  padding: 0 0.8em;
}

.about-us div{
  text-align: center;
  margin: auto;
  margin-bottom: 1.5em;
}


.single-author{
  padding:0.4em 2.2em ;
}

.single-author h4 a{
  font: 300 29px/1.8 Lato, sans-serif;
  color: #00bcd4;
  margin-right: 1em;
  text-decoration: none;
}

.single-author h4 a:hover{
  color: #313131;
}

.single-author h4{
  color: #afafaf;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
}

.author-intro{
  font: 300 21px/1.8 Lato, sans-serif;
  line-height: 0.5em;
  padding-bottom: 0.7em;
  color: #313131;
}

.profile-pic{
  width: 100%;
  margin: auto;
  margin-bottom: -60px;
  padding: 0;
  position: relative;;
  top: -65px;
}

.profile-pic img{
  max-width: 20%;
  border-radius: 50%;
  border: 5px solid #3bcce4;
  margin: 0;
  padding: 0;
}

.author-info-page{
  text-align: center;
  margin: auto;
}

.author-info-page h3{
  font: 400 32px/1.8 Lato, sans-serif;
  color: #00bcd4;
  text-decoration: none;
}

.author-info-page p{
  font: 300 20px/1.8 Lato, sans-serif;
  line-height: 1.4em;
  padding: 0.3em 0;
  color: #313131;
}

.author-info-page h5{
  padding-top: 1.5em;
  color: #00bcd4;
  font-weight: 400;
  font-size: 1.3em;
}


.switch{
  text-align: center;
}
.switch h2,h3{
  display:inline-block !important;
}
.switch h3 a{
  display:inline-block !important;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size:2em;
  color:#3bcce4;
  font-style: italic;
  margin: 0.3em 0;
  text-decoration: none;
}
.switch h3 a:hover{
  font-weight: 400;
  cursor: default;
}
.switch h2{
  display:inline-block !important;
  padding: 0 0.4em;
  color: #999;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size:2em;
  font-style: normal;
}
#chronological, #categories{
  font-weight: 400;
}


#posts-broad-headings{
  /*categories heading i.e. the date and the tags*/
    font-size:1.8em;
    color:#3bcce4;
    margin: 1.5em 0 0 1.8em;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    text-transform: capitalize;
}

.posts-wrapper{
  width: 80%;
  margin: auto;
  padding: 20px 10px 0px 10px;
}

.fadeInRight{
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


/*posts css for "POSTS" page*/
.post{
  padding: 15px 30px;
  border-top: 1.5px solid #e7eaec;
  text-align: left;
}

#post-post-details{
  color:#999;
  font-family: 'Roboto', sans-serif;
  font-size:0.9em;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
}
#post-post-details:hover{
  cursor: default;
  color:#555;
}

#post-post-title{
  font-size:1.5em;
  color:#3bcce4;
  margin-right:0.7em;
  display:inline-block;
  text-decoration:none;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight:400;
}
#post-post-title:hover{
  color: #4a5054;
}

.post p{
  font-family: 'Roboto', sans-serif;
  color:#555;
  font-size:1em;
  line-height:1.5em;
  margin-top: 0.3em;
  margin-bottom:0.5em;
}


.post-page{
  font-family: 'Roboto', sans-serif;
  color:#3f3f3f;
  text-align: justify;
  text-align-last: left;
  font-size:1.3em;
  font-weight: 400;
  line-height:1.3em;
  padding: 1.8em 1.8em 2.6em 1.8em;
}

.post-page p{
  margin-top: 0.9em;
}

.post-page h5{
  margin-top: -0.4em;
  margin-bottom: 1.6em;
  color: #999;
  font-size: 0.9em;
  font-weight: 300;
}

.post-page h5 a{
  color: #999;
  text-decoration: none;
  border:none;
}

.post-page i{
  padding-left: 0;
}

.post-page a{
  color: #666;
  text-decoration: none;
  border-bottom: 1.5px solid #3bcce4
}

#website-link a{
  font-weight: 400;
  color: #3bcce4;
  outline: none;
  border: 1px solid #3bcce4;
  font-size: 1.3em;
  padding: 0.4em 0.8em;
  background: transparent;
  text-decoration: none;
  transition: 0.7s all;
  -webkit-transition: 0.7s all;
  -moz-transition: 0.7s all;
  -o-transition: 0.7s all;
  -ms-transition: 0.7s all;
}

#website-link a:hover{
  border: 1px solid #3bcce4;
  background:#3bcce4;
  color:#fff;
}

#banner{
  height: 18em;
  background-image: url("../images/banner 5.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  margin-bottom: 2.5em;
}

#wrapper{
  background-image: url("../images/bg01.png");
  background-color: rgb(247, 247, 247);
}

@keyframes fadeInRight {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(100%,0,0);
      transform: translate3d(100%,0,0);
  }

  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
  }
}

/* Share bar */
#share-bar{
  margin-top: 2em;
}

.share-buttons{
  display: block;
  width: 70%;
  margin: 0em auto;
}

.share-buttons a{
  float: left;
  display: inline-block;
  width: 23%;
  height: 1.5em;
  line-height: 1.6em;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  text-align: center !important;
  text-align-last: center;
  margin: 0 2% 0 0;
  padding: 0;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(0,0,0,0.1);
}

.fa {
  display: inline-block;
}

.facebook {
  background-color: #3b5998;
}
.twitter {
  background-color: #55acee;
}
.gplus {
  background-color: #dd4b39;
}
.reddit {
  background-color: #ff4500;
}

/* ----------*/

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1.2rem;
  font-size: 1rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/* how the code in post pages will look like*/
.hll { background-color: #ffffcc } /*{ background: #f0f3f3; }*/
.c { color: #999; } /* Comment */
.err { color: #AA0000; background-color: #FFAAAA } /* Error */
.k { color: #006699; } /* Keyword */
.o { color: #555555 } /* Operator */
.cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
.cp { color: #009999 } /* Comment.Preproc */
.c1 { color: #999; } /* Comment.Single */
.cs { color: #999; } /* Comment.Special */
.gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #003300; } /* Generic.Heading */
.gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.go { color: #AAAAAA } /* Generic.Output */
.gp { color: #000099; } /* Generic.Prompt */
.gs { } /* Generic.Strong */
.gu { color: #003300; } /* Generic.Subheading */
.gt { color: #99CC66 } /* Generic.Traceback */
.kc { color: #006699; } /* Keyword.Constant */
.kd { color: #006699; } /* Keyword.Declaration */
.kn { color: #006699; } /* Keyword.Namespace */
.kp { color: #006699 } /* Keyword.Pseudo */
.kr { color: #006699; } /* Keyword.Reserved */
.kt { color: #007788; } /* Keyword.Type */
.m { color: #FF6600 } /* Literal.Number */
.s { color: #d44950 } /* Literal.String */
.na { color: #4f9fcf } /* Name.Attribute */
.nb { color: #336666 } /* Name.Builtin */
.nc { color: #00AA88; } /* Name.Class */
.no { color: #336600 } /* Name.Constant */
.nd { color: #9999FF } /* Name.Decorator */
.ni { color: #999999; } /* Name.Entity */
.ne { color: #CC0000; } /* Name.Exception */
.nf { color: #FF1493 } /* Name.Function */
.nl { color: #9999FF } /* Name.Label */
.nn { color: #00CCFF; } /* Name.Namespace */
.nt { color: #2f6f9f; } /* Name.Tag */
.nv { color: #003333 } /* Name.Variable */
.ow { color: #000000; } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #FF6600 } /* Literal.Number.Float */
.mh { color: #FF6600 } /* Literal.Number.Hex */
.mi { color: #FF6600 } /* Literal.Number.Integer */
.mo { color: #FF6600 } /* Literal.Number.Oct */
.sb { color: #CC3300 } /* Literal.String.Backtick */
.sc { color: #CC3300 } /* Literal.String.Char */
.sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.s2 { color: #CC3300 } /* Literal.String.Double */
.se { color: #CC3300; } /* Literal.String.Escape */
.sh { color: #CC3300 } /* Literal.String.Heredoc */
.si { color: #AA0000 } /* Literal.String.Interpol */
.sx { color: #CC3300 } /* Literal.String.Other */
.sr { color: #33AAAA } /* Literal.String.Regex */
.s1 { color: #CC3300 } /* Literal.String.Single */
.ss { color: #FFCC33 } /* Literal.String.Symbol */
.bp { color: #336666 } /* Name.Builtin.Pseudo */
.vc { color: #003333 } /* Name.Variable.Class */
.vg { color: #003333 } /* Name.Variable.Global */
.vi { color: #003333 } /* Name.Variable.Instance */
.il { color: #FF6600 } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }

strong, b{
  font-weight: 500 !important;
}
/*----------------------------*/

@media screen and (max-width: 1130px) {
  .container, .content-grid-info, .container-authors{
    width: 80%;
  }
}

@media screen and (max-width: 930px) {
  .container, .content-grid-info, .container-authors{
    width: 85%;
  }
  .post{
    padding: 15px 20px 0px 30px;
  }
  .posts-wrapper{
    padding: 0px 10px 5px 10px;
  }
  #posts-broad-headings{
    margin: 1em 0 0.5em 1.8em;
}

@media screen and (max-width: 800px) {
  .container, .content-grid-info, .container-authors{
    width: 91%;
  }
  .content-grid-info{
    margin-bottom: 2.2em;
  }
  .post{
    padding: 15px 7px 0px 20px;
  }
  .posts-wrapper{
    padding: 0px 0px 5px 0px;
  }
  #posts-broad-headings{
    margin: 0.8em 0 0.5em 1.5em;
  }
  .posts{
    padding: 1.8em 0em;
  }
}

@media screen and (max-width: 650px) {
  .container, .content-grid-info, .container-authors{
    width: 97%;
  }
  .content-grid-info{
    margin-bottom: 1.5em;
  }
  .post{
    padding: 15px 7px 0px 20px;
  }
  .posts-wrapper{
    padding: 0px 0px 5px 0px;
  }
  #posts-broad-headings{
    margin: 0.8em 0 0.5em 1.5em;
  }
  .posts{
    padding: 1.8em 0em;
  }
}
